@require('../../assets/styles/vars.styl')

.BackLink
  background-color $tan
  color $green
  left 0
  padding-left 5px
  line-height: 30px
  text-align left
  top 20px
  width auto
  position absolute

  a
    color $green
    text-decoration none
    padding 20px
    padding-left 6px

    &:before
      color $green
      content '\f060'
      font-family FontAwesome
      padding-right 5px
