@require('../../assets/styles/vars.styl')
@require('../../assets/styles/font-awesome.css')

.BackLink
  color $green
  position absolute
  top 5px
  left 10px
  a
    color $green
    text-decoration none
  &:before
    font-family FontAwesome
    color $green
    content '\f060'
    padding-right 5px