@require('../../assets/styles/vars.styl')

.BackLink
  background-color $tan
  color $green
  left 0
  padding-left 10px
  padding-top 20px
  position fixed
  text-align left
  top 0
  width 100%

  a
    color $green
    text-decoration none
  &:before
    color $green
    content '\f060'
    font-family FontAwesome
    padding-right 5px
