@require('../../assets/styles/vars.styl')

.HospitalDirectoryListItem
  &__Container
    box-sizing border-box
    color $green
    height 100%
    overflow-x hidden
    overflow-y hidden
    padding 10px
    text-align left
    width 100%

  &__Name
    font-size 16px
    font-weight bolder

  &__PhoneNumber__Container
    padding-top 7px

  &__PhoneNumber
    font-size 14px

  &__Links__Container
    padding-top 7px
    > div
      display inline-block
    a
      text-decoration none
