@require('../../assets/styles/vars.styl')

.ErrorReportPage
  padding-top 30px
  padding-bottom 65px
  header
    background-color $tan
    padding 0 20px
    padding-bottom 26px
  label
    color $brown
    font-family Lato
    font-size 18px
    line-height: 26px
    display block
    text-align left
    padding-left 5%
  button
    width 90%
    color $off-white
    margin-top 26px
  &__Icon
    &:before
      font-family FontAwesome
      content '\f044'
      color $brown
      font-size 46px
  &__Instructions
    color $brown
    font Lato
    font-style bold
    font-size 16px
    line-height 24px
    margin 12px 0
  &__InputGroup
    padding 12px 0

