@require('../../assets/styles/vars.styl')

.ErrorReportPage

  header
    background-color $tan
    padding 45px 20px 20px 20px

  main
    text-align center

  label
    color $brown
    font-family Lato
    font-size 18px
    line-height 22px
    display block
    text-align left
    padding-left 5%

  &__Icon
    &:before
      font-family FontAwesome
      content '\f044'
      color $brown
      font-size 46px

  &__Instructions
    color $brown
    font Lato
    font-style bold
    font-size 16px
    line-height 24px
    margin 12px 0

  &__InputGroup
    padding 12px 0

  &__Message
    padding 40px
    font Lato
    font-size 18px

  &__Form
    width 90%
    margin 0 auto

  .Button
    width 90%
    margin 40px auto
    padding 15px 0
