@require('../../assets/styles/vars.styl')

.StatusBarSpacer
  width 100%
  height $status-bar-spacer-height
  position fixed
  top 0
  left 0

  &--Dark
    background-color $tan

  &--Light
    background-color $off-white
