@require('../../assets/styles/vars.styl')

.FormPage
  main
    text-align center

  header
    background-color $tan
    padding 45px 20px 20px

  label
    color $brown
    display block
    font-family Lato
    font-size 18px
    line-height 26px
    margin 0 auto
    text-align left
    width 90%

  &__Icon
    &:before
      color $brown
      font-family FontAwesome
      font-size 46px
    &--ErrorReport:before
      content '\f044'
    &--Appointment:before
      content '\f271'

  &__Instructions
    color $brown
    font Lato
    font-size 16px
    font-style bold
    line-height 24px
    margin 12px 0

  &__Message
    padding 40px
    font Lato
    font-size 18px

  &__Form
    width 90%
    margin 0 auto
    &__InputGroup
      padding 12px 0
      & input.error
        border 1px solid red
      & input.error::before
        content attr(error)
        display block
        width 100%
        
  .Button
    width 90%
    margin 20px auto
    padding 15px 0
