@require('../../assets/styles/vars.styl')

.FormPage
  overflow hidden

  main
    overflow-y scroll
    text-align center
    padding 0 30px

  header
    background-color $tan
    padding 66px 6px 20px
    overflow hidden

  label
    color $brown
    display block
    font-family Lato
    font-size 16px
    line-height 24px
    text-align left
    width 100%

  input
    border 1px solid $light-brown
    padding-left 6px
    font-size 18px
    width 100%
    box-sizing border-box
    height 32px

  p
    margin-top 16px

  &__Icon
    &:before
      color $brown
      font-family FontAwesome
      font-size 40px
      position absolute
      top 30px
      left 50%
      margin-left -20px

    &--ErrorReport:before
      content '\f044'

    &--Appointment:before
      content '\f271'

  &__Instructions
    color $brown
    font Lato
    font-size 14px
    font-style bold
    line-height 16px
    padding 22px 11px 0

  &__Message
    font Lato
    font-size 18px
    padding 40px

  &__Form
    &__InputGroup
      &:not(:first-of-type)
        padding-top 13px
      & input.error
        border 1px solid red
      & input.error::before
        content attr(error)
        display block
        width 100%

    &__LoadingIndicator,
    &__Error
      color red
      font-size 12px
      height 13px
      margin-top 12px
      width 100%

    &__LoadingIndicator
      color $brown

  .Button
    margin-top 30px
    padding 15px 0
    width 100%


.FormPage--small
  .FormPage__Icon::before
    font-size 28px
    margin-left -14px

  .FormPage__Instructions
    font-size 13px
    line-height 14px
    padding 18px 10px 0

  header
    padding-bottom 6px
    padding-top 38px

  input
    font-size 13px
    height 22px

  label
    font-size 13px

  .Button
    margin-top 20px
    padding 10px 0

  .FormPage__Form
    &__InputGroup
      &:not(:first-of-type)
        padding-top 7px
