@require('../../assets/styles/vars.styl')

.DoctorListItem
  &__Container
    box-sizing border-box
    color $green
    height 100%
    overflow-x hidden
    overflow-y hidden
    padding 15px 5px 0 10px
    text-align left
    width 100%

  &--Specialty
    font-size 14px
    font-weight normal
  &--PracticeName
    font-size 12px
    font-weight bold
  &--PhoneNumber
    font-size 14px
    font-weight bolder
    padding 10px 0

  &__Links
    div
      display inline-block

      a
        color $off-white
        text-decoration none
