@require('../../assets/styles/vars.styl')

.HospitalListItem
  &__Container
    box-sizing border-box
    color $green
    height 100%
    overflow-x hidden
    overflow-y hidden
    padding 20px
    text-align left
    width 100%

  &__Links
    padding-top 6px

    div
      display inline-block

      a
        color $off-white
        text-decoration none

  &__Name
    font-size 16px

  &__Address
    font-size 13px
