@require('../../assets/styles/vars.styl')

.FilterInput
  font-size 14px
  height 30px
  margin 0 auto
  width 90%

.DirectoryPage
  header
    height $directory-header-height
  h1
    margin 0
    padding-bottom 5px
    padding-top 42px
  &.contact
    h1
      font-size 14px
      padding-top 44px
  &__ItemCount
    color $brown
    font-family Lato
    font-size 13px
    padding-top 10px
  .BackLink
    background-color $off-white
