@require('../../assets/styles/vars.styl')
@require('../../assets/styles/fonts.css')

html
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-touch-callout none
  -webkit-user-select none
  background $off-white
  height 100%

body
  font-family Lato
  margin 0

h1
  color $brown
  font-size 24px
  margin 0
  padding 12px 0

a
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  -webkit-tap-highlight-color transparent

 &:-moz-any-link,
 &:-webkit-any-link
  color $green

.Page
  box-sizing content-box
  margin 0
  padding-bottom $footer-nav-height
  position relative
  text-align center

.PageHeader__Title
  color $brown
  font-family Lato
  font-size 24px

nav a
  padding-right 10px

button
  background-color $green
  box-shadow 0 1px 2px 0 rgba(0, 0, 0, .70)
  font-size 14px
  margin-right 15px
  padding 10px

input
  font-size 18px
  height 30px
  margin 0 auto
  width 90%

.Button
  background-color $green
  box-shadow 0 1px 2px 0 rgba(0, 0, 0, .70)
  color $white !important
  display inline-block
  font-size 14px
  margin-right 15px
  padding 10px
  text-decoration none

  &:active,
  &--Active
    -webkit-transform scale3d(.98, .98, 1)
    box-shadow none
    color $white-alpha !important

    &:before,
    &:after
      color $white-alpha !important

  &--Call::before
    color $white
    content '\f095'
    font-family FontAwesome
    padding-right 10px

  &--MoreInfo::after
    color $white
    content '\f061'
    font-family FontAwesome
    padding-left 10px

  &--Directory::before
    color $white
    content '\f02d'
    font-family FontAwesome
    padding-right 10px

  &--Map:before
    content '\f041'
    font-family FontAwesome
    padding-right 7px
