@require('../../assets/styles/vars.styl')

.HomePage
  display flex
  flex-direction column
  justify-content center
  padding 0 5%
  text-align center

.Menu
  text-align center
  width 100%
  margin-bottom $footer-nav-height

  &__Link
    display block
    margin-bottom 4vh
    padding-right 0
    text-decoration none
    &:active &Item__Container
      box-shadow none
      -webkit-transform scale3d(.98, .98, 1)
      color  $white-alpha

  &__LinkItem__Container
    background-color $green
    border-radius 15px
    box-shadow 0 4px 8px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19)
    color $white
    display -webkit-box
    display flex
    -webkit-box-orient horizontal
    flex-direction row
    -webkit-box-align center
    align-items center
    width 100%
    height 18vh

  &__LinkItem
    width 100%
    text-align center
    vertical-align middle

    &__Icon
      display inline-block
      font-family 'clearview'
      font-size 36px
      margin-right 18px
      vertical-align middle
      &:before
        font-family clearview
      &--Doctors:before
        content 'a'
      &--Hospitals:before
        content 'b'
      &--Pharmacies:before
        content 'c'

    &__Title
      display inline-block
      font-size 24px
      vertical-align middle
